:root{
    font-size: 16px;
    --background: #141E27;
    --new-blue: #32ccff;
    --white: #ffffff;
    --black: #000000;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    
}

#container{
    width: 100%;
    height: 100%; 
}

main{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100vw;
    
}

/* HEADER */

nav{
    width: 100%;
    background: var(--background);
}

.dropdown{
    height: 10vh;
    width: 90%;
    margin: auto;
    background: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-logo{
    width: 5rem;
    cursor: pointer;
}

.projects, .contact-div{
    position: relative;
}


.projects ul{
    position: absolute;
    
}

.projects a{
    text-decoration: none;
}

.projects ul{
    right: -3rem;
    top: 3rem;
    width: 15rem;
    height: 20rem;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    opacity: 0;
    
    transform: translateY(-10px);
    transition: all 0.4s ease;
}

.projects button:focus + ul{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}

.projects li {
 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--white);
    cursor: none;
    pointer-events: all;
}

.projects li:hover {
    color: var(--background);
    background-color: var(--white);
}



.dropdown button{
    background: none;
    border: none;
    color: var(--white);
    font-family: "ohm-bold", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    cursor: pointer;
}


/* about */

#rotoscohagen{
    /*background:linear-gradient(to bottom, lightblue, pink);
    background:linear-gradient(to bottom, #B9CCED, #141E27);*/
    background-color: #141E27;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

.rotoscohagen-title{
    font-family: "ohm-bold", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14vw;
    margin: 15rem auto 5rem auto;
}

/*intro*/

.intro{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
max-width: 95vw;

margin: 2rem auto;
}

.text{
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
    max-width: 55ch;
    line-height: 1.5;
    text-align: left;
}


/*gif*/

.gif{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 95vw;
    margin: 2rem auto;
}

/* swan */

.swan-2{
    display: flex;
    flex-direction: row;
    max-width: 80%;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 2rem auto;
    filter: drop-shadow(2px 5px 5px black);
}

.swan-psd{
    width: 40%;
    height: auto;
}

.swan{
    width: 40%;
    height: auto;
}

/* up */

.up-2{
    display: flex;
    flex-direction: row;
    max-width: 80%;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 2rem auto;
    filter: drop-shadow(2px 5px 5px black);
}

.up-psd{
    width: 40%;
    height: auto;
}

.up{
    width: 40%;
    height: auto;
}

/* tivoli */

.tivoli-2{
    display: flex;
    flex-direction: row;
    max-width: 80%;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
    filter: drop-shadow(2px 5px 5px black);
}

.tivoli-psd{
    width: 40%;
    height: auto;
}

.tivoli{
    width: 40%;
    height: auto;
}

/* video */

.video{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 70vh;
  margin: 2rem auto;
}

.watch{
  font-family: forma-djr-micro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: white;
  width: 85%;
  line-height: 1.5;
  text-align: center;
  margin-top: 2rem;
}

video{
  width: 80%;
  height: auto;
}


/* BUTTON */

.back-btn{
    font-family: "ohm-bold", sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 1.5rem;
    color: white;
    background-color:#141E27;
    transition: all;
    margin: 5rem auto 4rem auto;
    padding: 0.5rem 1rem;
}

.back-btn:hover{
    transition-duration: 1s;
    transition-delay: 0.2s;
    box-shadow: 2px 4px 4px;
    border-radius: 5px;
    color:#141E27;
    background-color: white;
    cursor: pointer;
}

/* footer */

footer{
    height: 20vh;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--background);
}

.logos{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logo{
    transform: scale(3);
}


@media only screen and (max-width: 1000px){

    .rotoscohagen-title{
        font-family: "ohm-bold", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 12vw;
        margin: 15rem auto 5rem auto;
    }

}

@media only screen and (max-width: 800px){

  .gif{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 95vw;
    margin: 2rem auto;
}

/* swan */

.swan-2{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 2rem auto;
    filter: drop-shadow(2px 5px 5px black);
}

.swan-psd{
    width: 90%;
    height: auto;
    padding-bottom: 2rem;
}

.swan{
    width: 90%;
    height: auto;
}

/* up */

.up-2{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 2rem auto;
    filter: drop-shadow(2px 5px 5px black);
}

.up-psd{
    width: 90%;
    height: auto;
    
}

.up{
    width: 90%;
    height: auto;
    padding-bottom: 2rem;
}

/* tivoli */

.tivoli-2{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
    filter: drop-shadow(2px 5px 5px black);
}

.tivoli-psd{
    width: 90%;
    height: auto;
    padding-bottom: 2rem;
}

.tivoli{
    width: 90%;
    height: auto;
}


video{
    width: 100%; 
}

}


@media only screen and (max-width: 500px){
    .watch{
        margin-top: 0;
    }

}


@media only screen and (max-width: 500px){
    /* HEADER */
    
    
    nav{
        width: 100%;
        
    }
    
    .dropdown{
        height: 10vh;
        width: 90%;
        margin: auto;
        background: var(--background);
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }
    
    .nav-logo{
        width: 3rem;
    }
    
    .projects, .contact-div{
        position: relative;
    }
    
    
    .projects ul{
        position: absolute;
        
    }
    
    .projects a{
        text-decoration: none;
    }
    
    .projects ul{
        right: -3rem;
        top: 3rem;
        width: 15rem;
        height: 20rem;
        z-index: 200;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        font-family: forma-djr-micro, sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: left;
        opacity: 0;
        
        transform: translateY(-10px);
        transition: all 0.4s ease;
    }
    
    .projects button:focus + ul{
        opacity: 1;
        pointer-events: all;
        transform: translateY(0px);
    }
    
    .projects li {
     
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: var(--white);
        cursor: none;
        pointer-events: all;
    }
    
    .projects li:hover {
        color: var(--background);
        background-color: var(--white);
    }
    
    
    
    .dropdown button{
        background: none;
        border: none;
        color: var(--white);
        font-family: "ohm-bold", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1rem;
        cursor: pointer;
    }
    
    }
    
    @media only screen and (max-width: 300px){
        .dropdown button{
            background: none;
            border: none;
            color: var(--white);
            font-family: "ohm-bold", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 0.8rem;
            cursor: pointer;
        }
    
        .nav-logo{
            width: 2rem;
        }
    }