html{
    font-size: 16px;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    
}

#container{
    width: 100%;
    height: 100%; 
}

main{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100vw;
    height: auto;
}

/* HEADER */

header{
    position: absolute;
    color: white;
    width: 100vw;
    z-index: 100;
}

.header-background{
    width: 100vw;
    background-color: #141E27;
    opacity: 1;
    height: 10vh;
    transform: translateY(-10vh);
}

nav{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 10vh;
    justify-content: space-between;
    margin: 0rem auto 0 auto;
    font-family: "ohm-bold", sans-serif;
    font-weight: 200;
    font-style: italic;
    z-index: 50;
    color: white;
    background-color: hsl(40 10% 10% / 0.4);;
    
}

.fb-logo{
    display: inline;
    width: 4rem;
    height: auto;
    margin: 1rem 0 0 2rem;
    z-index: 50;
}

ul{
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: auto;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    font-size: 0.8rem;
    
    margin-top: 1.5rem;
}

li{
    padding: 0.3rem 0.5rem;
    text-align: center;
}

li:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}


/* CHESSPRESSIONISM */

#chesspressionism{
    background-color: #F9F9F9;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.chess-title{
    font-family: "ohm-bold", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6vw;
    filter:drop-shadow(2px 2px 4px white);
    margin: 15rem auto 5rem auto;
}

/* grid */

.info-grid{
    display: grid;
    width: 80vw;
    height: 200vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "chess-p chess-img"
    "topics-span topics-p"
    "logo logo-svg"
    "gigantic-svg gigantic-p";
    
    
}

/* first p div */

.chess-blog{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    
    border: 3px solid black;
    grid-area: chess-p;
}

.chess-blog-p{
    
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: black;
   
    margin: 0rem auto;
    width: 80%;
    display: block;
    
}

/* first svg div */

.chess-interface-div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
   
    border: 3px solid black;
    grid-area: chess-img;
    background-color: black;
}

.chess-interface{
    
    width: 100%;
    height: auto;
    display: block;
}


/* TOPICS span */

.topics-div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    grid-area: topics-span;
    background-color: black;
    font-family: ff-nuvo-mono-web-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.topics-span{
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    color: white;
    
    width: 100%;
    
}

/* TOPICS p */

.name-of-blog-div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
    border: 3px solid black;
    grid-area: topics-p;
    background-color: white;
}

.name-of-blog-p{
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: black;
    padding: 1rem;
    width: 80%;
    display: block;
}

/* third p div */

.closure-law-div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    border: 3px solid black;
    grid-area: logo;
    background-color: white;
}

.closure-law-p{
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: black;
    
    width: 80%;
    display: block;
}

/* logo svg div */

.closure-svg-div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
   
    padding-right: 0.37rem;
    grid-area: logo-svg;
    background-color: black;
}

.closure-svg{
    width: 100%;
    height: auto;
    display: block;
}

/* gigantic svg div */

.gigantic-svg-div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
   
    padding-right: 0.37rem;
    grid-area: gigantic-svg;
    background-color: black;
}

.gigantic-svg{
    width: 100%;
    height: auto;
    display: block;
}

/* gigantic p div */

.gigantic-p-div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    border: 3px solid black;
    grid-area: gigantic-p;
    background-color: white;
}

.gigantic-p{
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: black;
    
    width: 80%;
    display: block;
}


/* FINAL PRODUCT */

.final-product{
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: black;
    width: 80%;
    margin-top: 5rem;
}

.here-span{
    text-decoration: underline;
}



/* BUTTON */

.chess-btn{
    font-family: "ohm-bold", sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 1rem;
    color: white;
    background-color:#141E27;
    transition: all;
    margin: 5rem auto 4rem auto;
    padding: 0.5rem 1rem;
}

.chess-btn:hover{
    transition-duration: 1s;
    transition-delay: 0.2s;
    box-shadow: 2px 4px 4px;
    border-radius: 5px;
    color:#141E27;
    background-color: white;
    cursor: pointer;
}


@media only screen and (max-width: 800px){

    .chess-title{
        font-size: 9vw;
        margin: 11rem auto 5rem auto;
    }

/* grid */

.info-grid{
    display: grid;
    width: 80vw;
    height: 320vh;
    grid-template-columns: 80vw;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
    "chess-p" 
    "chess-img" 
    "topics-p"
    "topics-span"
    "logo" 
    "logo-svg"
    "gigantic-p"
    "gigantic-svg"; 

 
}

/* first p div */

.chess-blog{
    width: 80vw;
    height: 40vh;
    display: flex;
    
    align-items: center;
    justify-content: center;
    
    border: 3px solid black;
    grid-area: chess-p;
    background-color: white;
}

.chess-blog-p{
    
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: black;
    width: 100%;
    display: block;
    
}
    
/* first svg div */

.chess-interface-div{
    width: 100%;
    height: 40vh;
    
    display: flex;
   
    align-items: center;
    justify-content: center;
    
   
    border: 3px solid black;
    grid-area: chess-img;
    background-color: black;
}

.chess-interface{
    
    width: 100%;
    height: 40vh;
    display: block;
}


/* TOPICS span */

.topics-div{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    border: 3px solid black;
    grid-area: topics-span;
    background-color: black;
}

.topics-span{
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
    
    width: 100%;
    
}

/* TOPICS p */

.name-of-blog-div{
    width: 100%;
    height: 40vh;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
    border: 3px solid black;
    grid-area: topics-p;
    background-color: white;
}

.name-of-blog-p{
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: black;
    padding: 1rem;
    width: 80%;
    display: block;
}

/* third p div */

.closure-law-div{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    border: 3px solid black;
    grid-area: logo;
    background-color: white;
}

.closure-law-p{
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: black;
    
    width: 80%;
    display: block;
}

/* logo svg div */

.closure-svg-div{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
   
    padding-right: 0.37rem;
    grid-area: logo-svg;
    background-color: black;
}

.closure-svg{
    width: 100%;
    height: auto;
    display: block;
}

/* gigantic svg div */

.gigantic-svg-div{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: gigantic-svg;
    background-color: black;
}

.gigantic-svg{
    width: 100%;
    height: auto;
    display: block;
}

/* gigantic p div */

.gigantic-p-div{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    grid-area: gigantic-p;
    background-color: white;
}

.gigantic-p{
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: black;
    width: 80%;
    
    display: block;
}

.final-product{
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: black;
    width: 80%;
    margin-top: 8rem;
}


/* BUTTON */

.chess-btn{
    font-family: "ohm-bold", sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 1rem;
    color: white;
    background-color:#141E27;
    transition: all;
    margin: 10rem auto 4rem auto;
    padding: 0.5rem 1rem;
}

.chess-btn:hover{
    transition-duration: 1s;
    transition-delay: 0.2s;
    box-shadow: 2px 4px 4px;
    border-radius: 5px;
    color:#141E27;
    background-color: white;
    cursor: pointer;
}

}