

:root{
    font-size: 16px;
    --background: #141E27;
    --new-blue: #32ccff;
    --white: #ffffff;
    --black: #000000;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
    
}

a:visited{
    color: inherit;
}

#container{
    width: 100%;
    height: auto;
    background-color: var(--background);
    
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

/* HEADER */


nav{
    width: 100%;
    
}

.dropdown{
    height: 10vh;
    width: 90%;
    margin: auto;
    background: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.nav-logo{
    width: 5rem;
}

.projects, .contact-div{
    position: relative;
}


.projects ul{
    position: absolute;
    
}

.projects a{
    text-decoration: none;
}

.projects ul{
    right: -3rem;
    top: 3rem;
    width: 15rem;
    height: 20rem;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    opacity: 0;
    
    transform: translateY(-10px);
    transition: all 0.4s ease;
}

.projects button:focus + ul{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}

.projects li {
 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--white);
    cursor: none;
    pointer-events: all;
}

.projects li:hover {
    color: var(--background);
    background-color: var(--white);
}



.dropdown button{
    background: none;
    border: none;
    color: var(--white);
    font-family: "ohm-bold", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    cursor: pointer;
}


/* INTRO */

#intro{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--white);
    background-image: url('waves/blob2.svg');
   
}

.forward-title{
    font-family: "ohm-bold", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 9vw;
    height: 15vh;
}

.intro-arrow{
    color: var(--white);
    transform: scale(3);
    margin: 0rem auto 4rem auto;
    animation: arrowDown 2s ease-in-out 0.5s infinite forwards;
}

@keyframes arrowDown {
    0%{transform: translate(0, 0); transform:scale(3);}
    50%{transform: translate(0, 2rem); transform:scale(2);}
    100%{transform: translate(0, 0); transform:scale(3);}
}

/* about */

#about{
    color: var(--white);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('waves/blob1.svg');
    
}

.about-p{
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: var(--white);
    width: 50%;
    line-height: 1.5;
    text-align: left;
}

/* advertising */

#advertising{

    color: var(--white);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('waves/blob2.svg');
}

.advertising-title{
    font-family: "ohm-bold", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 9vw;
    margin-top: 0;
    margin-bottom: 1rem;
}

.advertising-btn{
    font-family: "ohm-bold", sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 2rem;
    color: var(--white);
    background-color:var(--background);
    transition: all;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
}

.advertising-btn:hover{
    transition-duration: 1s;
    transition-delay: 0.2s;
    box-shadow: 2px 4px 4px;
    border-radius: 5px;
    color:var(--background);
    background-color: var(--white);
    cursor: pointer;
}

/* rotoscohagen */

#rotoscohagen{
  
    color: var(--white);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('waves/blob1.svg');
}

.rotoscohagen-title{
    font-family: "ohm-bold", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 9vw;
    margin-top: 0;
    margin-bottom: 1rem;
}

.rotoscohagen-btn{
    font-family: "ohm-bold", sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 2rem;
    color: var(--white);
    background-color:var(--background);
    transition: all;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
}

.rotoscohagen-btn:hover{
    transition-duration: 1s;
    transition-delay: 0.2s;
    box-shadow: 2px 4px 4px;
    border-radius: 5px;
    color:var(--background);
    background-color: var(--white);
    cursor: pointer;
}

/* DANISHCRIPT */

#danishcript{
    color: var(--white);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('waves/blob2.svg');
}

.danishcript-title{
    font-family: "ohm-bold", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 9vw;
    margin-top: 0;
    margin-bottom: 1rem;
}

.skill-p{
    font-family: "ohm-bold", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    margin-top: 0;
}


.danishcript-btn{
    font-family: "ohm-bold", sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 2rem;
    color: var(--white);
    background-color:var(--background);
    transition: all;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
}

.danishcript-btn:hover{
    transition-duration: 1s;
    transition-delay: 0.2s;
    box-shadow: 2px 4px 4px;
    border-radius: 5px;
    color:var(--background);
    background-color: var(--white);
    cursor: pointer;
}

/* sakurai */

#sakurai{
    color: var(--white);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('waves/blob1.svg');
}

.sakurai-title{
    font-family: "ohm-bold", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 9vw;
    margin-top: 0;
    margin-bottom: 1rem;
}


.sakurai-btn{
    font-family: "ohm-bold", sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 2rem;
    color: var(--white);
    background-color:var(--background);
    transition: all;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
}

.sakurai-btn:hover{
    transition-duration: 1s;
    transition-delay: 0.2s;
    box-shadow: 2px 4px 4px;
    border-radius: 5px;
    color:var(--background);
    background-color: var(--white);
    cursor: pointer;
}



/* web3 */

#web3{

     color: var(--white);
     text-align: center;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-image: url('waves/blob2.svg');
    
 }
 
 .web3-title{
     font-family: "ohm-bold", sans-serif;
     font-weight: 400;
     font-style: normal;
     font-size: 9vw;
     margin-top: 0;
     margin-bottom: 1rem;
 }
 
 
 .web3-btn{
     font-family: "ohm-bold", sans-serif;
     font-weight: 200;
     font-style: italic;
     font-size: 2rem;
     color: var(--white);
     background-color:var(--background);
     transition: all;
     margin-top: 2rem;
     padding: 0.5rem 1rem;
 }
 
 .web3-btn:hover{
     transition-duration: 1s;
     transition-delay: 0.2s;
     box-shadow: 2px 4px 4px;
     border-radius: 5px;
     color:var(--background);
     background-color: var(--white);
     cursor: pointer;
 }   
    
 /* blobs */

.spacer1{
    aspect-ratio: 3/4;
    width: 100%;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

.spacer2{
    aspect-ratio: 3/4;
    width: 100%;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

/* footer */

footer{
    height: 20vh;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--background);
    filter: drop-shadow(4px 0 8px var(--new-blue));
}

.logos{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logo{
    transform: scale(3);
}

/* CHAMELEON 

#chameleon{

    background:linear-gradient(to right, #F8CB2E, #00B200);

    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.chameleon-title{
    font-family: "ohm-bold", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 9vw;
    margin-bottom: 1rem;
    margin-top: 0;
}

.chameleon-btn{
    font-family: "ohm-bold", sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 2rem;
    color: white;
    background-color:#141E27;
    transition: all;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
}

.chameleon-btn:hover{
    transition-duration: 1s;
    transition-delay: 0.2s;
    box-shadow: 2px 4px 4px;
    border-radius: 5px;
    color:#141E27;
    background-color: white;
    cursor: pointer;
}


 CHESSPRESSIONISM 

#chesspressionism{
    background:linear-gradient(to right, #00B200, white);
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.chesspressionism-title{
    font-family: "ohm-bold", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 9vw;
    margin-top: 0;
    margin-bottom: 1rem;
}

.chess-btn{
    font-family: "ohm-bold", sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 2rem;
    color: white;
    background-color:#141E27;
    transition: all;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
}

.chess-btn:hover{
    transition-duration: 1s;
    transition-delay: 0.2s;
    box-shadow: 2px 4px 4px;
    border-radius: 5px;
    color:#141E27;
    background-color: white;
    cursor: pointer;
}

*/


@media only screen and (max-width: 700px){

    /* BTNS */

    .danishcript-btn{
        font-size: 1.5rem;
    }

    .sakurai-btn{
        font-size: 1.5rem;
    }

    .web3-btn{
        font-size: 1.5rem;
    }

    .chameleon-btn{
        font-size: 1.5rem;
    }

    .chess-btn{
        font-size: 1.5rem;
    }

    .rotoscohagen-btn{
        font-size: 1.5rem;
    }

    .advertising-btn{
        font-size: 1.5rem;
    }

}



@media only screen and (max-width: 500px){

    /* H2 */

    .danishcript-title{
        font-size: 15vw;
    }

    .sakurai-title{
        font-size: 13vw;
    }

    .chameleon-title{
        font-size: 15vw;
    }

    .chesspressionism-title{
        font-size: 12vw;
    }

    .rotoscohagen-title{
        font-size: 13vw;
    }

    .web3-title{
        font-size: 13vw;
    }

    .advertising-title{
        font-size: 15vw;
    }


    /* ARROWS */

    .fa-arrow-down-long{
        color: var(--white);
        transform: scale(2);
        margin: 2rem auto 2rem auto;
    }

    /* SKILLS P */

    .skill-p{
        font-size: 5vw;
        margin-top: 0;
    }

    /* BTNS */

    .danishcript-btn{
        font-size: 1rem;
    }

    .sakurai-btn{
        font-size: 1rem;
    }

    .chameleon-btn{
        font-size: 1rem;
    }

    .chess-btn{
        font-size: 1rem;
    }

    .rotoscohagen-btn{
        font-size: 1rem;
    }

    .web3-btn{
        font-size: 1rem;
    }

    .advertising-btn{
        font-size: 1rem;
    }


    .spacer{
        aspect-ratio: 3/4;
        width: 100%;
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
    }

    .about-p{
        font-family: forma-djr-micro, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1rem;
        color: var(--white);
        width: 60%;
        line-height: 1.5;
        text-align: left;
    }
}

    
@media only screen and (max-width: 500px){
/* HEADER */


nav{
    width: 100%;
    
}

.dropdown{
    height: 10vh;
    width: 90%;
    margin: auto;
    background: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.nav-logo{
    width: 3rem;
}

.projects, .contact-div{
    position: relative;
}


.projects ul{
    position: absolute;
    
}

.projects a{
    text-decoration: none;
}

.projects ul{
    right: -3rem;
    top: 3rem;
    width: 15rem;
    height: 20rem;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    opacity: 0;
    
    transform: translateY(-10px);
    transition: all 0.4s ease;
}

.projects button:focus + ul{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}

.projects li {
 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--white);
    cursor: none;
    pointer-events: all;
}

.projects li:hover {
    color: var(--background);
    background-color: var(--white);
}



.dropdown button{
    background: none;
    border: none;
    color: var(--white);
    font-family: "ohm-bold", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    cursor: pointer;
}

}

@media only screen and (max-width: 300px){
    .dropdown button{
        background: none;
        border: none;
        color: var(--white);
        font-family: "ohm-bold", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 0.8rem;
        cursor: pointer;
    }

    .nav-logo{
        width: 2rem;
    }
}