:root{
    font-size: 16px;
    --background: #141E27;
    --new-blue: #32ccff;
    --white: #ffffff;
    --black: #000000;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    
}

#container{
    width: 100%;
    
}

main{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100vw;
    
}

/* HEADER */

nav{
    width: 100%;
    background: var(--background);
}

.dropdown{
    height: 10vh;
    width: 90%;
    margin: auto;
    background: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-logo{
    width: 5rem;
    cursor: pointer;
}

.projects, .contact-div{
    position: relative;
}


.projects ul{
    position: absolute;
    
}

.projects a{
    text-decoration: none;
}

.projects ul{
    right: -3rem;
    top: 3rem;
    width: 15rem;
    height: 20rem;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    opacity: 0;
    
    transform: translateY(-10px);
    transition: all 0.4s ease;
}

.projects button:focus + ul{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}

.projects li {
 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--white);
    cursor: none;
    pointer-events: all;
}

.projects li:hover {
    color: var(--background);
    background-color: var(--white);
}



.dropdown button{
    background: none;
    border: none;
    color: var(--white);
    font-family: "ohm-bold", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    cursor: pointer;
}


/* about */

#web3{

    background-color: #141E27;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

.web3-title{
    font-family: "ohm-bold", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14vw;
    
    margin: 15rem auto 5rem auto;
}

/*intro*/

.intro{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
max-width: 95vw;
margin: 2rem auto;
}

.text{
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
    max-width: 60%;
    line-height: 1.5;
    text-align: left;
}


/*logos*/

.screenshots{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    margin: 2rem auto;
    padding: 1rem;
    flex-wrap: wrap;
}

.btc{
    width: 80%;
    height: auto;
    padding: 1rem;
    filter: drop-shadow(4px 4px 4px black);
    border-radius: 20px;
}

.eth{
    width: 80%;
    height: auto;
    padding: 1rem;
    filter: drop-shadow(4px 4px 4px black);
    border-radius: 20px;
}

.eth-all{
    width: 80%;
    height: auto;
    padding: 1rem;
    filter: drop-shadow(4px 4px 4px black);
    border-radius: 20px;
}

.link-all{
    width: 80%;
    height: auto;
    padding: 1rem;
    filter: drop-shadow(4px 4px 4px black);
    border-radius: 20px;
}

/* gifs */

.gifs{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.sections-gif{
    width: 30%;
}

.eth-gif{
    width: 30%;
}

.text-proto{
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
    max-width: 60%;
    line-height: 1.5;
    text-align: left;
    margin-top: 2rem;
    padding-top: 2rem;
}

.proto-span{
    text-decoration: underline;
}


/* BUTTON */

.back-btn{
    font-family: "ohm-bold", sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 1.5rem;
    color: white;
    background-color:#141E27;
    transition: all;
    margin: 5rem auto 4rem auto;
    padding: 0.5rem 1rem;
}

.back-btn:hover{
    transition-duration: 1s;
    transition-delay: 0.2s;
    box-shadow: 2px 4px 4px;
    border-radius: 5px;
    color:#141E27;
    background-color: white;
    cursor: pointer;
}


/* footer */

footer{
    height: 20vh;
    color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--background);
}

.footer-logos{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logo{
    transform: scale(3);
}


@media only screen and (max-width: 1000px){
    /*logos*/

.logos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    padding: 1rem 1rem;
}


/*print*/

.print{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    height: auto;
    margin: 2rem auto 2rem auto;
    
    padding: 1rem 1rem;
}


.print-examples{
    width: 80%;
    height: auto;
}

.text{
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
    width: 80%;
    line-height: 1.5;
    text-align: left;
}


}


@media only screen and (max-width: 850px){
    .logos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 50vw;
        height: 80vh;
        margin: 2rem auto;
        
        padding: 1rem 1rem;
        flex-wrap: wrap;
    }

    /* BUTTON */

.back-btn{
    margin: 1rem auto 4rem auto;
    font-size: 1rem;
}
}

@media only screen and (max-width: 700px){
    .video{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 80vw;
        height: 50vh;
        margin: 2rem auto;
        
      }
}

@media only screen and (max-width: 450px){
    .video{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 80vw;
        height: 35vh;
        margin: 2rem auto;
        
      }
}

@media only screen and (max-width: 500px){
    /* HEADER */
    
    
    nav{
        width: 100%;
        
    }
    
    .dropdown{
        height: 10vh;
        width: 90%;
        margin: auto;
        background: var(--background);
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }
    
    .nav-logo{
        width: 3rem;
    }
    
    .projects, .contact-div{
        position: relative;
    }
    
    
    .projects ul{
        position: absolute;
        
    }
    
    .projects a{
        text-decoration: none;
    }
    
    .projects ul{
        right: -3rem;
        top: 3rem;
        width: 15rem;
        height: 20rem;
        z-index: 200;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        font-family: forma-djr-micro, sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: left;
        opacity: 0;
        
        transform: translateY(-10px);
        transition: all 0.4s ease;
    }
    
    .projects button:focus + ul{
        opacity: 1;
        pointer-events: all;
        transform: translateY(0px);
    }
    
    .projects li {
     
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: var(--white);
        cursor: none;
        pointer-events: all;
    }
    
    .projects li:hover {
        color: var(--background);
        background-color: var(--white);
    }
    
    
    
    .dropdown button{
        background: none;
        border: none;
        color: var(--white);
        font-family: "ohm-bold", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1rem;
        cursor: pointer;
    }

    .screenshots{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 90vw;
        margin: 2rem auto;
        padding: 1rem;
        flex-wrap: none;
    }
    
    .btc{
        width: 80%;
        height: auto;
        padding: 1rem;
        filter: drop-shadow(4px 4px 4px black);
        border-radius: 20px;
    }
    
    .eth{
        width: 80%;
        height: auto;
        padding: 1rem;
        filter: drop-shadow(4px 4px 4px black);
        border-radius: 20px;
    }
    
    .eth-all{
        width: 80%;
        height: auto;
        padding: 1rem;
        filter: drop-shadow(4px 4px 4px black);
        border-radius: 20px;
    }
    
    .link-all{
        width: 80%;
        height: auto;
        padding: 1rem;
        filter: drop-shadow(4px 4px 4px black);
        border-radius: 20px;
    }
    
    }
    
    @media only screen and (max-width: 300px){
        .dropdown button{
            background: none;
            border: none;
            color: var(--white);
            font-family: "ohm-bold", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 0.8rem;
            cursor: pointer;
        }
    
        .nav-logo{
            width: 2rem;
        }
    }
