html{
    font-size: 16px;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    
}

#container{
    width: 100%;
    height: 100%; 
}

main{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100vw;
    height: auto;
}

img{
    filter: drop-shadow(2px 5px 5px black);
}

/* HEADER */

header{
    position: absolute;
    color: white;
    width: 100vw;
    z-index: 100;
}

.header-background{
    width: 100vw;
    background-color: #141E27;
    opacity: 1;
    height: 10vh;
    transform: translateY(-10vh);
}

nav{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 10vh;
    justify-content: space-between;
    margin: 0rem auto 0 auto;
    font-family: "ohm-bold", sans-serif;
    font-weight: 200;
    font-style: italic;
    z-index: 50;
    color: white;
    background-color: hsl(40 10% 10% / 0.4);;
    
}

.fb-logo{
    display: inline;
    width: 4rem;
    height: auto;
    margin: 1rem 0 0 2rem;
    z-index: 50;
}

ul{
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: auto;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    font-size: 0.8rem;
    
    margin-top: 1.5rem;
}

li{
    padding: 0.3rem 0.5rem;
    text-align: center;
}

li:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}


/* about */

#sakurai{
   /* background:linear-gradient(to bottom, lightblue, pink);
    background:linear-gradient(to bottom, #B9CCED, #141E27);*/
    background-color: #141E27;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

.sakurai-title{
    font-family: "ohm-bold", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14vw;
    
    margin: 15rem auto 3rem auto;
}

/*intro*/

.intro{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 95vw;
height: auto;
margin: 2rem auto;
}

.text{
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
    max-width: 60ch;
    line-height: 1.5;
    text-align: left;
    filter: drop-shadow(2px 2px 4px black);
}


/*research*/

.research{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    padding: 3rem;
    margin: 2rem auto;
    border: 4px dotted white;
}

@media only screen and (max-width: 500px){
    .research{
        padding: 1rem;
    }
}

.research-h2{
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5vw;
    color: white;
    width: 80%;
    line-height: 1.5;
    text-align: center;
    filter: drop-shadow(2px 2px 4px black);
}

.research-story{
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
    max-width: 60ch;
    line-height: 1.5;
    text-align: left;
    filter: drop-shadow(2px 2px 4px black);
}

.research-guitars{
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
    max-width: 60ch;
    line-height: 1.5;
    text-align: left;
    filter: drop-shadow(2px 2px 4px black);
}

.guitars-img{
    max-width: 90%;
    display: block;
    margin: 1rem auto;
}

/*DESIGN*/

.design{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 80vw;
    margin: 2rem auto;
    border: 4px dotted white;
    padding: 3rem;
}

@media only screen and (max-width: 500px){
    .design{
        padding: 1rem;
    }
}

.design-h2{
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5vw;
    color: white;
    width: 60%;
    line-height: 1.5;
    text-align: center;
    filter: drop-shadow(2px 2px 4px black);
}

.design-early-prototype{
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
    max-width: 60ch;
    line-height: 1.5;
    text-align: center;
    filter: drop-shadow(2px 2px 4px black);
}

.early-prototype-img{
    max-width: 80%;
    display: block;
    margin: 1rem auto;
}

.design-illustrations{
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
    max-width: 60ch;
    line-height: 1.5;
    text-align: left;
    filter: drop-shadow(2px 2px 4px black);
    padding-top: 5rem;
}

.design-img1{
    max-width: 80%;
    display: block;
    margin: 1rem auto;
}

.design-img2{
    max-width: 80%;
    display: block;
    margin: 1rem auto;
}

/*code*/

.code{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    margin: 2rem auto;
    border: 4px dotted white;
    padding: 3rem;
}

@media only screen and (max-width: 500px){
    .code{
        padding: 1rem;
    }
}

.code-h2{
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5vw;
    color: white;
    width: 60%;
    line-height: 1.5;
    text-align: center;
    filter: drop-shadow(2px 2px 4px black);
}

.code-aos{
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
    max-width: 60ch;
    line-height: 1.5;
    text-align: left;
    padding-bottom: 3rem;
}

.aos-img{
    max-width: 20%;
    height: auto;
    display: block;
    margin: 1rem auto;
}

.code-strings{
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
    max-width: 60ch;
    line-height: 1.5;
    text-align: left;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.code-strings-img{
    max-width: 80%;
    height: auto;
    display: block;
    margin: 1rem auto;
}

/* final product */

.final-product{
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
    width: 90%;
    line-height: 1.5;
    text-align: center;
    filter: drop-shadow(2px 2px 4px black);
    margin-top: 2rem;
}

.here-span{
    text-decoration: underline;
}

.here-span:hover{
    cursor: pointer;
}




/* BUTTON */

.sakurai-btn{
    font-family: "ohm-bold", sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 1.5rem;
    color: white;
    background-color:#141E27;
    transition: all;
    margin: 5rem auto 4rem auto;
    padding: 0.5rem 1rem;
}

.sakurai-btn:hover{
    transition-duration: 1s;
    transition-delay: 0.2s;
    box-shadow: 2px 4px 4px;
    border-radius: 5px;
    color:#141E27;
    background-color: white;
    cursor: pointer;
}

